//
//  Development.xcconfig
//  Primovie
//
//  Created by Dayton on 08/11/21.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

BASE_URL = https:/$()/api.themoviedb.org/3/
API_KEY = bc5e897b0a20a7b102f692c7fecaf961
IMAGE_LOADER_URL = https:/$()/image.tmdb.org/t/p/w500
